body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}
footer {
    background-color: lightgray;
    text-align: center;
    padding: 15px;
}